*{
    font-family: sans-serif;
}
.container{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.header{
    background-color: rgb(225, 225, 115);
}
.header h1{
    text-align: center;
    padding: 40px;
    background-color: yellowgreen;
    margin-bottom: 0px ;
}
.main-container{
    display: flex;
}
.left-side{
    float: left;
    width: 30%;
    background-color: aqua;
    box-sizing: border-box;
    padding: 25px;
}
.left-side img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 180px;
    height: 190px;
}
.right-side{
    float: left;
    width: 70%;
    background-color: aquamarine;
    box-sizing: border-box;
    padding: 25px;
}
.hobbies-list{
    list-style-type: none;
}
ul li{
    display: inline-block;
    padding: 5px;
}